<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
			// Init Side nav
            $('.button-collapse').sideNav();
		});
	$('.tst').fadeOut(2000);
</script>

</body>
</html>