


<%include ./partials/header.ejs%>

<h1>hello</h1>

<ul>
	<li><a href="/register">Sign Up</a></li>
	<li><a href="/login">LogIn</a></li>
	<li><a href="/logout">LogOut</a></li>
</ul>

	<div class="container col-m-8 offset-2">

		<div class="grey lighten-3 " id="chat_box">
			
		</div>

		<input type="text" name="message" id="message" placeholder="Say Hi !">
		<button class="btn " id="sendBtn">Send</button>
	</div>



<%include ./partials/footer.ejs%>